!!!
%html
  %head
    %title Kabbalah administration
    = stylesheet_link_tag    "admin", :media => "all"
    = javascript_include_tag "admin"
    = csrf_meta_tags
  %body

    .container

      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
            %a.brand{:href => "/"}
              Kabbalah
            %ul.nav
              -#%li.divider-vertical
              %li{:class => params[:controller] == "admin/users" ? "active" : ""}
                %a{:href => admin_users_path}= t(:users)
              -#%li.divider-vertical
              -#%li{:class => params[:controller] == "admin/pages" ? "active" : ""}
                %a{:href => admin_pages_path} Страницы
              -#%li.divider-vertical
              %li{:class => params[:controller] == "admin/articles" ? "active" : ""}
                %a{:href => admin_articles_path}= t(:articles)
              -#%li.divider-vertical
              -#%li{:class => params[:controller] == "admin/banners" ? "active" : ""}
                %a{:href => admin_banners_path} Баннеры
              %li.logout
                = link_to destroy_user_session_path do
                  %i.icon-share.icon-white
                  = t(:logout)

      = render "breadcrumbs"
      = yield

      %hr
      
      .container
        %small Copyright © 2013